/*
  You can add your own CSS in this file, this code will overwrite main stylesheet file.
*/

/*
@import url(http://fonts.googleapis.com/css?family=example);
*/

/*
If you want to change fonts decomentate and overwrite with your font name
*/

/*
body {
	font-family: 'fontName';
}
*/
/*
h1, h2, h3, h4, h5, h6 {
	font-family: 'fontName';
}
*/
/*
p {
	font-family: 'fontName';
}
*/
/*
span {
	font-family: 'fontName';
}
*/
/*
input, textarea, select, label, small {
	font-family: 'fontName';
}
*/

.lang {
  position: fixed;
  left: 50%;
  margin-left: -36px;
  top: 0px;
  z-index: 3;
  width: 72px;
  height: 44px;
  font-size: 20px;
  background: transparent;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  padding: 11px 12px;
}

.content-section .slide .slide-content h1 img {
  max-width: 100%;
}

.tabs-content .post-body .post-excerpt span.width-hack {
  color: #f1f1f1;
}

.speaker-list li {
  display: list-item;
}



.speaker-list li .speaker .speaker-meta {
  min-height: 170px;
}

footer .logo img {
  width: 100%;
}


/* 
  And some media queries for you
*/

@media screen and (max-width: 1200px) {
  .speaker-list li .speaker .media .info-media {
    min-height: 300px;
  }
}

@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {
  
}
